.infiniteSec{
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 180, 151);

  .searchArea{
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family:monospace ;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
  
    input{
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 200px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
      background-color: #f5f5f5;
    }
    input:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    button {
      background-color: #5de7be; 
      color: #fff; 
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-left: 5px;
      margin-right: 5px;
      height: 30px;
    }
    
    button:hover {
      background-color: #0062cc; 
    }
  }
}

.Intersection {
  height: 100vh;
  overflow-y: scroll;
  background-color: #f5f5f5;
  border: 5px solid black;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  margin: auto;
  display: flex; /* Make it a flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.Intersection img {
  width: 300px;
  height: 300px;
  object-fit: cover; /* Ensures images fill the container without distortion */
  margin: auto;
}


.load {
  background-color: black;
  animation: mymove 2s infinite;
  color: black;
}

@keyframes mymove {
  from {background-color: black;}
  to {background-color: white;}
}